@font-face {
  font-family: 'Sora';
  src: url('../fonts/Sora-Variable.woff2') format('woff2'),
       url('../fonts/Sora-Variable.woff') format('woff'),
       url('../fonts/Sora-Variable.ttf') format('truetype');
  font-weight: 100 800;
  font-display: swap;
  font-style: normal;
}



//@font-face {
//  font-family: 'NeueBlack';
//  font-weight: 400;
//  font-style: normal;
//  src: url('assets/scss/NeueMachina-Black.ttf') format("ttf");
//}
//@font-face {
//  font-family: 'NeueLight';
//  font-weight: 400;
//  font-style: normal;
//  src: url('assets/scss/NeueMachina-Light.otf') format("otf");
//}
